@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --bg-color: #ffffff;
  --header-color: #000000;
  --text-color: #000000;
  --textW-color: #ffffff;
  --textS-color: #787878;
  --textcard-color: #ffffff;
  --lineW-color: #ffffff;
  --line-color: #000000;
  --button-color: #000000;
  --footer-color: #000000;
  --circle-color: #b0b0b028;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

li {
  list-style: none;
}

header {
  background-color: var(--header-color);
  height: 600px;
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1170px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 31px;
}
header .menu ul li a {
  color: var(--textW-color);
  font-size: 30px;
  text-decoration: none;
}
header .menu ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .menu ul:last-child li {
  margin-left: 30px;
}
header .menu ul:last-child li a {
  font-size: 16px;
}
header .face {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 80px;
}
header .face img {
  width: 100%;
  height: 100%;
}
header .face h1 {
  font-size: 70px;
  font-weight: 500;
  color: var(--textW-color);
  position: absolute;
  left: 70px;
  top: 200px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
main {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .circle_1 {
  width: 641px;
  height: 641px;
  border-radius: 50%;
  background-color: var(--circle-color);
  position: absolute;
  z-index: 1;
  top: 300px;
  margin-right: 900px;
}
main .textarea_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
  padding-top: 250px;
}
main .textarea_1 ul:first-child li:first-child {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}
main .textarea_1 ul:first-child li:last-child {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 30px;
}
main .textarea_1 ul:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .textarea_1 ul:last-child li:first-child {
  font-size: 20px;
  font-weight: 400;
  width: 50%;
  border-top: 1px solid;
  margin-right: 40px;
  padding-top: 40px;
}
main .textarea_1 ul:last-child li:last-child {
  font-size: 17px;
  font-weight: 400px;
  width: 50%;
}
main .button_1 {
  width: 170px;
  height: 54px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: var(--button-color);
  text-decoration: none;
  color: var(--textW-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  margin-left: 230px;
  font-size: 16px;
  font-weight: 500;
}
main .button_1 img {
  margin-left: 10px;
  -webkit-transition: -webkit-animation;
  transition: -webkit-animation;
  transition: animation;
  transition: animation, -webkit-animation;
}
main .button_1:hover img {
  -webkit-animation: bounce 0.5s infinite ease-in;
          animation: bounce 0.5s infinite ease-in;
}
main .cards_1 {
  height: auto;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--textW-color);
  margin-top: 100px;
  margin-bottom: 20px;
  gap: 10px;
}
main .cards_1 ul {
  height: 400px;
  width: 304px;
  font-size: 20px;
  font-weight: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
main .cards_1 ul li {
  margin-left: 50px;
  margin-bottom: 20px;
}
main .cards_1 .card_1 {
  background-image: url(../assets/images/image_1.jpg);
  background-size: cover;
}
main .cards_1 .card_2 {
  background-image: url(../assets/images/image_2.jpg);
  background-size: cover;
}
main .cards_1 .card_3 {
  background-image: url(../assets/images/image_3.jpg);
  background-size: cover;
}
main .cards_1 .card_4 {
  background-image: url(../assets/images/image_4.jpg);
  background-size: cover;
}
main .title_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .title_1 h2 {
  font-size: 100px;
  font-weight: 500;
}
main .title_1 img:nth-child(2) {
  margin-left: 200px;
}
main .title_1 .button_2 {
  width: 170px;
  height: 54px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: var(--button-color);
  text-decoration: none;
  color: var(--textW-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 200px;
}
main .title_1 .button_2 img {
  margin-left: 10px;
  -webkit-transition: -webkit-animation;
  transition: -webkit-animation;
  transition: animation;
  transition: animation, -webkit-animation;
}
main .title_1 .button_2:hover img {
  -webkit-animation: bounce 0.5s infinite ease-in;
          animation: bounce 0.5s infinite ease-in;
}
main .gallery {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 150px;
  gap: 40px;
}
main .gallery ul:first-child {
  position: relative;
  top: 100px;
}
main .gallery ul:nth-child(3) {
  position: relative;
  top: 100px;
}
main .gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .gallery ul li:nth-child(2) {
  padding-top: 25px;
  font-size: 24px;
  font-weight: 500;
}
main .gallery ul li:last-child {
  padding-top: 10px;
  font-size: 15px;
  font-weight: 500;
}
main .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--header-color);
  color: var(--textW-color);
  width: 100%;
  height: 594px;
  margin-bottom: 20px;
  overflow: hidden;
}
main .quote .vector_1 {
  position: relative;
  margin-right: 1000px;
  top: 150px;
}
main .quote .vector_2 {
  position: relative;
  top: -30px;
  left: 600px;
}
main .quote ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}
main .quote ul li:first-child {
  margin: 40px;
}
main .quote ul li:nth-child(2) {
  font-size: 24px;
  font-weight: 500;
  width: 673px;
  height: 102px;
  text-align: center;
  margin: 30px;
}
main .quote ul li:last-child {
  font-size: 15px;
  font-weight: 400;
  color: var(--textS-color);
}
main .quote .circle_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 641px;
  height: 641px;
  border-radius: 50%;
  background-color: var(--circle-color);
  position: relative;
  top: -250px;
}
main .brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
  margin-top: 100px;
  margin-bottom: 100px;
}
main .brands .textarea_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .brands .textarea_2 li:first-child {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 30px;
}
main .brands .textarea_2 li:last-child {
  font-size: 34px;
  font-weight: 500;
}
main .brands .logotips {
  display: grid;
  grid-template-areas: "logo_1 logo_2 logo_3" "logo_4 logo_5 logo_6";
  gap: 40px;
}
main h3 {
  font-size: 48px;
  font-weight: 500;
  margin: 50px;
}
main .cards_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
main .cards_2 ul li:first-child {
  display: table-cell;
  font-size: 14px;
  font-weight: 400;
  width: 124px;
  height: 44px;
  background-color: var(--bg-color);
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 44px;
}
main .cards_2 ul li:last-child {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}
main .button_3 {
  width: 170px;
  height: 54px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: var(--button-color);
  text-decoration: none;
  color: var(--textW-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  font-size: 16px;
  font-weight: 500;
}
main .button_3 img {
  margin-left: 10px;
  -webkit-transition: -webkit-animation;
  transition: -webkit-animation;
  transition: animation;
  transition: animation, -webkit-animation;
}
main .button_3:hover img {
  -webkit-animation: bounce 0.5s infinite ease-in;
          animation: bounce 0.5s infinite ease-in;
}
main hr {
  width: 1170px;
  height: 0px;
  border: 1px solid var(--text-color);
  margin-bottom: 30px;
}
main .workit {
  width: 1170px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .workit ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  margin-top: 40px;
}
main .workit ul li:first-child {
  font-size: 100px;
  font-weight: 500;
  position: relative;
  top: 50px;
  z-index: 2;
}
main .workit ul li:last-child {
  position: relative;
  left: -50px;
  top: -20px;
  z-index: 1;
}
main .workit a {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
main .workit a:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

footer {
  height: 642px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--footer-color);
  color: var(--textW-color);
  position: relative;
  overflow: hidden;
}
footer .lcol {
  border-right: 1px solid var(--circle-color);
  padding-right: 200px;
}
footer .lcol li {
  margin-top: 70px;
}
footer .lcol li:first-child {
  font-size: 34px;
  font-weight: 500;
}
footer .lcol li:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
}
footer .lcol li:nth-child(3) {
  font-size: 17px;
  font-weight: 500;
}
footer .lcol li:nth-child(5) img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
footer .rcol {
  margin-top: 100px;
  padding-left: 100px;
}
footer .rcol li {
  font-size: 15px;
  font-weight: 500;
  color: var(--textS-color);
  margin-bottom: 20px;
}
footer .rcol p {
  border-bottom: 1px solid var(--textW-color);
  padding-bottom: 10px;
}
footer .rcol p input {
  width: 570px;
  height: 20px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--textW-color);
}
footer .rcol p input:focus {
  font-size: 20px;
  border: none;
  background-color: var(--circle-color);
  outline: none;
  color: var(--textW-color);
}
footer .rcol p button {
  border: none;
  background-color: transparent;
  color: var(--textW-color);
  cursor: pointer;
}
footer .rcol p img {
  margin-left: 5px;
  -webkit-transition: -webkit-animation;
  transition: -webkit-animation;
  transition: animation;
  transition: animation, -webkit-animation;
}
footer .rcol p button:hover img {
  -webkit-animation: bounce 0.5s infinite ease-in;
          animation: bounce 0.5s infinite ease-in;
}
footer .rcol nav {
  margin-top: 150px;
  height: 140px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .rcol nav li {
  margin: 20px;
  height: 20px;
}
footer .rcol nav li a {
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: var(--textW-color);
}
footer .rcol nav li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
footer .rcol .C {
  font-size: 14px;
  font-weight: 400;
  margin-top: 120px;
  position: absolute;
  margin-left: 700px;
}
footer .circle_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 641px;
  height: 641px;
  border-radius: 50%;
  background-color: var(--circle-color);
  position: absolute;
  bottom: -200px;
  margin-left: 1500px;
}