:root {
    --bg-color: #0E0E0E;
    --header-color: #000000;
    --text-color: #000000;
    --textW-color: #ffffff;
    --textcard-color: #ffffff;
    --lineW-color: #ffffff;
    --line-color: #000000;
    --button-color: #000000;
    --buttonW-color: #ffffff;
    --footer-color: #000000;
    --circle-color: #82828282;
}