main{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .gallery{
        display: grid;
        justify-content: center;
        justify-items: stretch;
        grid-template-areas: 
        'a a d'
        'e b b'
        'c c f'
        ;
        gap: 100px;
        .pic{
            color: aliceblue;
            font-size: 14px;
            font-weight: 400;
            width: 670px;
            img{
                margin-top: 20px;
            }
        }
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: var(--textW-color);
            width: 400px;
            height: 400px;
            li:nth-child(2){
                font-size: 48px;
                font-weight: 500;
            }
            li:nth-child(3){
                font-size: 16px;
                font-weight: 400;
            }
            li:nth-child(4){
                a{
                    text-decoration: none;
                    color: var(--textW-color);
                    font-size: 16px;
                    font-weight: 500;     
                }
                // hover!!
                a:hover{
                    transform: scale(1.1);
                    transition: 0.2s; 
                    background-color: var(--circle-color);
                    border-radius: 3px;
                }
            }
            li{
                margin-top: 40px;
            }
        }
    }
    .p1{
        grid-area: a;
    }
    .p2{
        grid-area: b;
    }
    .p3{
        grid-area: c;
    }
    .t1{
        grid-area: d;
    }
    .t2{
        grid-area: e;
    }
    .t3{
        grid-area: f;
    }
    .button_2{  
        width: 170px;
        height: 54px;
        display: inline-flex;
        background-color: var(--buttonW-color);
        text-decoration: none;
        color: var(--text-color);
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        margin: 60px;
        margin-left: auto;
        margin-right: auto;
        img{
            margin-left: 10px;
            transition: animation;  
            
        }
    }
    .button_2:hover img{
        animation: bounce 0.5s infinite ease-in;
    }
    .textarea{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-color);
        background-color: var(--bgW-color);
        padding-top: 50px;
        padding-bottom: 50px;
        ul:nth-child(1){
            width: 585px;
            li:nth-child(1){
                font-size: 15px;
                font-weight: 500;
                margin-top: 30px;
            }
            li:nth-child(2){
                margin-top: 30px;
                font-size: 34px;
                font-weight: 500;
            }
            .button_3{  
                width: 170px;
                height: 54px;
                display: inline-flex;
                background-color: var(--button-color);
                text-decoration: none;
                color: var(--textW-color);
                justify-content: center;
                align-items: center;
                font-size: 16px;
                font-weight: 500;
                margin: 60px;
                margin-left: auto;
                margin-right: auto;
                img{
                    margin-left: 10px;
                    transition: animation;  
                    
                }
            }
            .button_3:hover img{
                animation: bounce 0.5s infinite ease-in;
            }
        }
        ul:nth-child(2){
            width: 585px;
            li:nth-child(1){
                margin-top: 30px;
                font-size: 20px;
                font-weight: 400;
            }
            li:nth-child(2){
                font-size: 17px;
                font-family: 400;
                margin-top: 30px;
            }
            li:nth-child(3){
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                border-top: 1px solid var(--text-color);
                ul{
                    width: auto;
                    li:first-child{
                        font-size: 48px;
                        font-weight: 500;
                        margin-top: 30px;
                        text-align: center;
                    }
                    li:last-child{
                        margin-top: 0;
                        font-size: 15px;
                        font-weight: 500;
                        text-align: center;
                    }
                }
            }
        }
    }
    .videoblock{
        background-color: var(--bgW-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 100px;
        .video{
            margin-left: auto;
            margin-right: auto;
            height: 550px;
            width: 1170px;
            background-image: url(../assets/images/video_here.png);
            background-size: contain;
            background-repeat: no-repeat;
        }
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            img{
                margin: 30px;
            }
        }
    }

}