@keyframes bounce{
    0% {
        transform: translateY(0px);
    }
    50% {transform: translateY(-6px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes scroll {
    100% {
        background-position:  2000px 0px;
    }
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: scroll 100s linear infinite;
    background-image: url(../assets/images/star_bg.png);
    height: 750px;
    width: 100%;
    .menu_1{
        display: flex;
        justify-content: space-between;
        width: 1170px;
        margin-left: auto;
        margin-right: auto;
        ul{
            display: flex;
            justify-content: space-around;
            margin-top: 31px;
            li a{
                color: var(--textW-color);
                font-size: 20px;
                text-decoration: none;
            } 
            li:hover{
                transform: scale(1.1);
                transition: 0.2s;
            }
        }
        ul:last-child li{
            margin-left: 30px;
        }
        ul:last-child li a {
            font-size: 16px;
        }

    }
    .face{
        font-style: normal;
        height: 580px;
        width: 1170px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li:first-child{
            h1{
                font-size: 100px;
                font-weight: 500;
                color: var(--textW-color); 
            }
        }
        li:nth-child(2){
                p{
                    font-size: 20px;
                    font-weight: 400;
                    color: var(--textW-color);
                    border-top: 1px solid var(--textW-color);
                    padding-top: 30px;
                }
            .button_1{  
                width: 170px;
                height: 54px;
                display: inline-flex;
                background-color: var(--buttonW-color);
                text-decoration: none;
                color: var(--text-color);
                justify-content: center;
                align-items: center;
                font-size: 16px;
                font-weight: 500;
                margin-top: 60px;
                img{
                    margin-left: 10px;
                    transition: animation;  
                    
                }
            }
            .button_1:hover img{
                animation: bounce 0.5s infinite ease-in;
            }
        }
    }
}
@media screen and (max-width: 600px){
    header{
        background-image: url(../assets/images/star_bg.png);
        height: auto;
        width: 100%;
        display: flex;
        .menu_1{
            display: flex;
            flex-direction: column;
            align-items:center ;
            width: 200px;
            margin-left: auto;
            margin-right: auto;
            ul{
                display: flex;
                flex-direction: column;
                margin-top: 31px;
                gap: 20px;
                li a{
                    color: var(--textW-color);
                    font-size: 20px;
                    text-decoration: none;
                } 
                li:hover{
                    transform: scale(1.1);
                    transition: 0.2s;
                }
            }
            ul:last-child li{
                margin-left: 30px;
            }
            ul:last-child li a {
                font-size: 16px;
            }
    
        }
        .face{
            font-style: normal;
            height: auto;
            width: 580px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 30px;
            padding-top: 30px;
            li:first-child{
                h1{
                    font-size: 40px;
                    font-weight: 500;
                    color: var(--textW-color); 
                }
            }
            li:nth-child(2){
                text-align: center;
                    p{
                        font-size: 20px;
                        font-weight: 400;
                        color: var(--textW-color);
                        border-top: 1px solid var(--textW-color);
                        padding-top: 30px;
                    }
                .button_1{  
                    width: 170px;
                    height: 54px;
                    display: inline-flex;
                    background-color: var(--buttonW-color);
                    text-decoration: none;
                    color: var(--text-color);
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 500;
                    margin-top: 60px;
                    img{
                        margin-left: 10px;
                        transition: animation;  
                        
                    }
                }
                .button_1:hover img{
                    animation: bounce 0.5s infinite ease-in;
                }
            }
        }     
    }
}