header{
    background-color: var(--header-color);
    height: 600px;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    .menu{
        display: flex;
        justify-content: space-between;
        width: 1170px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        ul{
            display: flex;
            justify-content: space-around;
            margin-top: 31px;
            li{
                a{
                    color: var(--textW-color);
                    font-size: 30px;
                    text-decoration: none;
                }
            }
            li:hover{
                transform: scale(1.1);
                transition: 0.2s;
            }

        }
        ul:last-child li{
            margin-left: 30px;
        }
        ul:last-child li a {
            font-size: 16px;
        }
        
        

    }
    .face{
        display: flex;
        position: absolute;
        top: 80px;
        img{
            width: 100%;
            height: 100%;
        }
        h1{
            font-size: 70px;
            font-weight: 500;
            color: var(--textW-color);
            position: absolute;
            left: 70px; top: 200px;
        }
    }
}
@media screen and (max-width: 600px){
    header{
    }
}