:root {
    --bg-color: #ffffff;
    --header-color: #000000;
    --text-color: #000000;
    --textW-color: #ffffff;
    --textS-color: #787878;
    --textcard-color: #ffffff;
    --lineW-color: #ffffff;
    --line-color: #000000;
    --button-color: #000000;
    --footer-color: #000000;
    --circle-color: #b0b0b028;
}
